
.imgicon{
	margin-left: 90px;
}
input.tag{
	float:left;
	border-radius:5px;
	width:260px;
	height:35px;
	margin-top: 10px;
    margin-left: 20px;
}
.iconsss{
	font-size:24px;
	color:white;
	margin-top: 5px;
	padding-left: 100px;
}
.icontext{
	margin-top:0px;
	text-align: center; 
	padding-left: 10px;
	margin-left: -25px;
}
	.img-circle {
    width:35px;
    height:35px;
    border-radius:50%;
    overflow:hidden;
}
body{
	background-color: white;
}
.bgcolor{
	
	padding-top: 40px;
	margin-top: 30px;
	margin-left: 90px;
	margin-right: 400px;
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSeFzlZb9et4KubLNmP9ML8DAUtGkxTIF32WPWGmzzAwyk3V_Yk&usqp=CAU");
	height:130px;

}
.secondrow{
	background-color: white;
	padding-top: 40px;
	margin-top: 10px;
	margin-left: 90px;
	margin-right: 400px;
	height: 500px;
	border: 2px solid #545151;

}

.colfont{
	margin-left: -200px;
	padding-top: 60px;
}
.colfont2{

	margin-left: 400px;
	padding-top: 70px;
}
.iconstyle{
	font-size:24px;color:#b5abab;

}
.icontextcol{
	margin-left: 50px;
	margin-top: -20px;
	color:black;
	
}
select.tag{
	border-radius:4px;
	width:175px;
	height:35px;
	text-align:left;
	margin-top: 5px;
	background-color:#22b7bf;
	padding-left: 20px;
	color: white;
}
.colfont3{

	margin-left: 50px;
	margin-top: -40px;
}
input.tag1{
	float:left;
	
	width:160px;
	height:35px;
	margin-top: 10px;
    margin-left: 20px;
}


.thirdrow{
	background-color: white;
	padding-top: 40px;
	margin-top: 10px;
	margin-left: 90px;
	margin-right: 400px;
	height: 150px;
	border: 2px solid #545151;
	background: url("screenshot-www.google.com-2020.05.12-14_31_15.png");
	background-size: cover;
}
.fourthrow{
	background-color: black;
	opacity:0.4;
	padding-top: 40px;
	margin-top: 10px;
	margin-left: 90px;
	margin-right: 400px;
	height: 450px;
	border: 2px solid #a0b3bf;

}
.secondmaintag{
	color:white; 
	font-style:italic;
	margin-top:30px;
	margin-left:-170px;
	padding-left: 0px;
	font-weight:normal;
    font-family: 'Poppins', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Jost', sans-serif;
}
.color{
	background-color: white;
	height:80px;
	width:1050px;
	margin-top: 70px;
	margin-left: -100px;
	padding-left: 0px;
}
.color2{
	background-color: white;
	height:210px;
	width:1050px;
	margin-top: 2px;
	margin-left: 30px;
	padding-left: 0px;
	margin-bottom: 20px;
}
b2{
	background-color: green;
	height: 10px;
	max-width: 35px;
	border-radius: 3px;
	color:white;
}
b1{
	background-color:#e0d7d7;
	height: 10px;
	max-width: 45px;
	border-radius: 3px;
	
}
.fifthrow{
	background-color: white;
	padding-top: 40px;
	margin-top: 10px;
	margin-left: 90px;
	margin-right: 400px;
	height: 790px;
	border: 2px solid #545151;


}
.sixthrow{
	background-color: white;
	padding-top: 40px;
	margin-top: 10px;
	margin-left: 90px;
	margin-right: 400px;
	height: 220px;
	border: 2px solid #545151;


}


.seventhrow{
	background-color: white;
	padding-top: 40px;
	margin-top: 10px;
	margin-left: 90px;
	margin-right: 400px;
	height: 620px;
	border: 2px solid #545151;


}

.selecttag{
	width:185px;
	height:25px;
	border:1px solid #22b7bf;
	color:#22b7bf;
}
style (1).css
Displaying style (1).css.